<p id="notice"><%= notice %></p>
<div class="container">
	<div class="well">
		<%= image_tag @deal.image.url(:medium) %>

 
  <%= @deal.name %>
	
<!-- <p>
  <b>Shortdescription:</b>
  <%= @deal.shortDescription %>
</p> -->

<p>
  <b>Longdescription:</b>
  <%= @deal.longDescription %>
</p>
</div>
<p>
  <b>Detail1:</b>
  <%= @deal.detail1 %>
</p>

<p>
  <b>Detail2:</b>
  <%= @deal.detail2 %>
</p>

<p>
  <b>Detail3:</b>
  <%= @deal.detail3 %>
</p>

<p>
  <b>Detail4:</b>
  <%= @deal.detail4 %>
</p>

<p>
  <b>Detail5:</b>
  <%= @deal.detail5 %>
</p>

<p>
  <b>Detail6:</b>
  <%= @deal.detail6 %>
</p>

<p>
  <b>Detail7:</b>
  <%= @deal.detail7 %>
</p>

<p>
  <b>Salestart:</b>
  <%= @deal.saleStart %>
</p>

<p>
  <b>Saleend:</b>
  <%= @deal.saleEnd %>
</p>

<p>
  <b>Validstart:</b>
  <%= @deal.validStart %>
</p>

<p>
  <b>Validend:</b>
  <%= @deal.validEnd %>
</p>

<p>
  <b>Price:</b>
  <%= @deal.price %>
</p>

<p>
  <b>Value:</b>
  <%= @deal.value %>
</p>

<p>
  <b>Businessname:</b>
  <%= @deal.businessName %>
</p>

<p>
  <b>Businesshours:</b>
  <%= @deal.businessHours %>
</p>

<p>
  <b>Businesslocation:</b>
  <%= @deal.businessLocation %>
</p>

<p>
  <b>Businesscontact:</b>
  <%= @deal.businessContact %>
</p>

<p>
  <b>Voucherlimit:</b>
  <%= @deal.voucherLimit %>
</p>

<% if current_user.try(:admin?) %>
<%= link_to 'Edit', edit_deal_path(@deal) %> |
<%= link_to 'Destroy', @deal, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
<%= link_to 'Back', deals_path %>
</div>
